<div class="background-bendo">
    <div class="row cocktails-container-index">

      <div class="container">
            <h1><%= @cocktails.length %> cocktails available</h1>

        <div class="row">
            <% @cocktails.each do |cocktail| %>
              <div class="col-xs-12 col-sm-4">
                <% if cocktail.photo? %>
                  <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill; %>');">
                <% else %>
                  <div class="card" style="background-image: url('http://placehod.it/300x400');">
                <% end %>
                  <div class="card-description">
                    <h2><%= cocktail.name %></h2>
                    <p><%= cocktail.doses.length %> dose(s) needed</p>
                  </div>
                  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
                </div>
              </div>
            <% end %>
            </div>
</div>
    </div>
    </div>

</div>
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $("tr[data-link]").click(function() {
     window.location = $(this).data("link")
   });
    window.setTimeout(function() {
    $("#alert-warning").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
      }, 3000);
  <% end %>
<% end %>
