<div class="container">
  <div class="row col-sm-10 col-sm-offset-1 cocktails-container">
    <h1><%= @cocktail.name %></h1>
    <table class="table table-hover text-left">
      <thead>
        <th>Ingredient name</th>
        <th>Description</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @cocktail.doses.each do |dose| %>
        <tr>
          <td><%= dose.ingredient.name %></td>
          <td><%= dose.description %></td>
          <td><%= link_to cocktail_dose_path(dose), method: :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <button data-toggle="collapse" data-target="#demo" class="btn btn-success">Add a dose</button><%= link_to "Back", cocktails_path, class: "btn btn-info" %>
    <span id="demo" class="collapse"><%= render 'doses/new' %></span>
  </div>
  </div>
</div>
